version: '3.6'

services:
  couchdb:
    image: ibmcom/couchdb3:3.0.0
    restart: always
    ports:
      - 5984:5984
      - 4369:4369 
      - 9100:9200
    environment:
      COUCHDB_USER: {{ couchdb_user }}
      COUCHDB_PASSWORD: {{ couchdb_password }}
      ERL_FLAGS: "-setcookie \"{{ couchdb_secret }}\" -name \"couchdb@{{ group_names.0 }}\""

networks:
  default:
    ipam:
      driver: default
      config:
        - subnet: {{ansible_default_ipv4.address }}/16